<div class="dataFetch-inner component-inner" role="region" aria-label="{{_globals._components._dataFetch.ariaRegion}}" {{#if _globals._components._dataFetch.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <form id="dataSources">
    	{{ dataSource }}
    </div>
</div>